@font-face {
  font-family: Montserrat;
  src: url("montserrat/Montserrat-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("./Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("./Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf");
  font-style: italic;
}
body {
    margin-left:100px;
    margin-right: 100px;
    background-image: url('/kuvat/backgroundpic.jpg');
    background-size: cover;
    font-family: Roboto, sans-serif;
    height: 100vh;
    font-size: 20px;
    
  }
p{
  font-size: 1.2em;

}


h1 {
    color: #FFFFFF; 
    font-size: 60px;
    font-family: Montserrat;
}

h2 {
    color: #000000;
    font-size: 48px;
    font-family: Montserrat;
}

h3 {
    color: #000000;
    font-size: 32px;
    font-family: Montserrat;
    
}

h4 {
    color: #E44423;
    font-size: 30px;
    font-family: Montserrat;
}

h5, h6 {
    color: #E44423;
    font-size: 16px; 
    font-family: Montserrat;
}
.Container{
  display: grid;
  grid-template-areas: 
  'header header header header'
  'mainNav mainNav mainNav mainNav'
  'bannerImage bannerImage bannerImage bannerImage'
  'content content content content'; 
  gap: 10px;
  background-image: url('/kuvat/backgroundpic.jpg');
  background-size: cover;
}
.header {
  grid-area: header;
  background-color: #1769B6;
  display: flex;
  gap: 20px;
}
.mainNav{
  grid-area: mainNav;
  background-color: #cddf8d;
}
.mainNav a {
            display: inline-block;
            padding: 40px 40px;
            background-color: #cddf8d;
            color: #000000; 
            text-decoration: none;
            border-radius: 5px;
            font-size: 30px;
            font-family: Montserrat ;
            font-weight: 800;
        }
.mainNav a:hover {
            color: #FFFFFF; 
        }
.mainNav .visited{
            background-color: #E44423; 
            color: #FFFFFF;
}





.bannerImage{
  grid-area: bannerImage;
  width: 100%; 
  height: 400px; 
  overflow: hidden; 

}
.bannerImage img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
.content{
  grid-area: content;
  background-color: #FCCB00;
  padding: 20px;
}
.content1{
  display: flex;
  flex-direction: row;
  padding: 15px;
  gap: 20px;
}
.discription{
  border-bottom: 5px solid #000;
}
.comment p:last-of-type {
    text-align: right;
    font-weight: 700;
}
.comment a{
            
            color: #1769B6; 
            font-family: Montserrat ;
            font-weight: 800;
}
.comment a:hover{
  color: #E44423;
}

.content2 .comment{
  padding: 15px;
}


.info table {
  border: 3px solid black;
  border-spacing: 10px;

}
th, td {
    padding: 10px; 
    width: 150px;
    vertical-align: top;
    text-align: left;
}
.kehittajat, .Tuottajat{
    list-style-type: none;
    padding: 0; 
    margin: 0;
}
.gallery {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.image {
    width: 350px; 
    
}

.image img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 300px;
    
}

.image img:hover {
    transform: scale(1.2); 
}
.image2 {
    width: 200px; 
    
}

.image2 img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 300px;
    
}

.image2 img:hover {
    transform: scale(1.1); 
}
.back a  {
    text-decoration: none;
  
}


.scrollable {
    height: 500px; 
    overflow-y: auto; 
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #ffffff;
}
.subNav a {
            display: inline-block;
            padding: 40px 40px;
            background-color: #5C9ED9;
            color: #000000; 
            text-decoration: none;
            border-radius: 5px;
            font-size: 30px;
            font-family: Montserrat ;
            font-weight: 800;
        }
.subNav a:hover {
            color: #FFFFFF; 
        }
.subNav .visited{
            background-color: #E44423; 
            color: #FFFFFF;
}


.subNav{
  background-color: #FCCB00;
  
}

.actor{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.contents {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #FCCB00;
    gap: 10px;
}


.left{
  display: flex;
  background-color: #FFFFFF;
  justify-content: center;
  align-items: center;
}


.left img {
            width: 100%; 
            animation: resizeAnimation 4s ease-in-out;
        }
 @keyframes resizeAnimation {
            0% { width: 100%; }
            25% { width: 80%; } 
            50% { width: 100%; } 
            75% { width: 80%; } 
            100% { width: 100%; } 
        }



.right{
  background-color: #FFFFFF;
}
.Maincontent{
  padding: 10px;
  border-top: #FCCB00 10px solid;
}


.pic{
  width:200px;
}
.pic img{
  width: 100%;
}
.voices{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.audio-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 160px;
            height: 100px;
            background-color: #FCCB00; 
            border-radius: 10px; 
            padding: 10px;
            box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2); 
        }
audio {
            width: 100%;
        }
.img-box{
  padding: 20px;
  
  
  
}
.message {
    border-bottom: 5px solid black;
    padding: 10px;
    margin-bottom: 10px;
}
#avaaDialog {
  font-size: 30px; 
  background-color: #1769B6; 
  border: none;
  padding: 20px 20px;
  cursor: pointer;
  width: 300px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); 
  transition: all 0.3s ease;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 4px;

  }

#avaaDialog:hover {
  background-color: #cddf8d; 
  transform: scale(1.1);
  color: #000000; 
}
#messageDialog{
  background-image: url('/kuvat/backgroundpic.jpg');
  background-size: cover;
}
form button{
  font-size: 28px; 
  background-color: #E44423; 
  border: none;
  padding: 20px 20px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); 
  transition: all 0.3s ease;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 8px;


}
form button:hover{
  background-color:#cddf8d; 
  transform: scale(1.1);
  color: #000000; 
}
label {
    font-size: 28px;  
    font-weight: bold; 
    color: #ffffff;
}
input{
  margin-left: 20px;
}
input, textarea {
    font-size: 20px;  
    padding: 10px;    
          
}



















@media (max-width: 639px){
  .content1{
    flex-direction: column;
  }
}

